@import "bootstrap-sprockets";
@import "bootstrap";

.headerstyling{
  border:5px double black;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image:url(fur.jpg);
  font-weight:bold;
  font-size:80px;
  font-family: 'Architects Daughter', cursive;
}

.coolfont{
  font-family: 'Architects Daughter', cursive;
}